@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
h1, h2, p {
  font-family: "Platypi", serif;
}

h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #FDE9C8;
  align-items: center;
  padding: 10px;
  font-size: large;
  font-weight: 600;
}
header .nav-item, header .navbar-brand, header .container-fluid {
  background-color: #FDE9C8;
}

footer {
  background-color: #9C640C;
}

.contenedor-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}
.contenedor-footer .elemento:nth-child(4) {
  grid-row: 2;
  grid-column: 2;
}

.navegacion {
  color: #FDE9C8;
  display: flex;
}

.logo {
  flex: 1;
}
.logo img {
  max-width: 100px;
  height: auto;
}

.navbar {
  padding: 0;
}

.sub-home {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.img-home {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 30px auto;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconos {
  display: flex;
  justify-content: center;
}
.iconos ul {
  margin: 5px;
  padding: 0;
}

.icono {
  max-width: 100%;
  width: 30%;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.producto {
  width: 400px;
  margin: 0 auto;
  height: 400px;
  object-fit: cover;
}

.contenedor {
  display: grid;
  justify-content: center;
  text-align: center;
}

.mapa {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.img-nosotros {
  margin: auto;
  max-width: 80%;
  height: auto;
}

.contenedor-text {
  margin: auto;
  padding: 30px;
}

.contenedor-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

#total-carrito {
  margin: 15px;
  font-size: 18px;
}

form {
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.contenedor-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
button:focus {
  outline: none;
}

.contacto {
  padding-top: 30px;
}

@media (max-width: 767px) {
  .contenedor-footer {
    position: relative;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .elemento:nth-child(4) {
    grid-row: 4;
    grid-column: 1;
  }
  .productos {
    grid-template-columns: repeat(1, 1fr);
  }
  .mapa {
    height: 50%;
  }
  .contenedor-nosotros {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
