$color-header: #FDE9C8;
$color-footer: #9C640C;
$color-input: #cccccc;

$fuente-principal: "Platypi", serif;
$fuente-principal-large: large;
$fuente-principal-weight: 600;
$fuente-principal-size: 16px;

$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$border-radius: 4px;

